:root {
    --bg: #191724;
    --bg2: #1f1d2e;
    --text: #e0def4;
}

html {
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

body {
    scale: 1.3;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    transition-duration: 1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.large {
    width: 200vw;
    height: 30vh;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
    text-decoration: none;
    text-transform: uppercase;
}

a,
a:visited {
    color: var(--text);
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}

footer {
    height: 10vh;
    rotate: 0deg !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    transition-duration: 1s;
    margin-top: 13vh;
    rotate: 0deg !important;
}

footer a:hover,
footer a:focus {
    height: auto !important;
    scale: 1.2;
}

a:hover,
a:focus {
    height: 35vh;
    filter: brightness(105%) saturate(105%);
}

.rotate {
    margin: 100px;
}

.rotate * {
    rotate: -3deg;
}

.rotate p,
h1 {
    rotate: 3deg !important;
}

::-webkit-scrollbar {
    width: 0rem;
    height: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--text-muted);
}

@media (max-width: 1000px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }

    body {
        position: relative;
        overflow-x: hidden;
        scale: 1.1;
        margin-top: -10vh;
        overflow-x: hidden;
        overflow-y: scroll !important;
    }

    a {
        overflow-x: hidden;
    }

    a.large {
        width: 100%;
    }

    article {
        width: 200vw;
    }

    p {
        font-size: 2rem;
    }
}