@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* Semantic */
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    transition-duration: 1s;

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: var(--color-background);
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        line-height: 1.5;

        * {
            transition-duration: .3s;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: color-mix(in srgb, var(--color-text) 80%, black);
            margin-bottom: .2em;
        }


        a,
        a:visited {
            color: var(--color-primary);
            text-decoration: none;
        }

        a {
            background:
                linear-gradient(to right, rgba(38, 194, 194, 0), rgba(100, 200, 200, 0)),
                linear-gradient(to right, var(--color-secondary), var(--color-secondary));
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
        }

        a:hover,
        a:focus {
            background-size: 0 0.1em, 100% 0.1em;
        }

        nav {
            margin-top: 1em;
            padding: 1em 2em 1em 2em;
            background-color: color-mix(in srgb, var(--color-background) 90%, black);
            border: var(--thin-border);
            border-radius: 10px;
            * {
                cursor: pointer;
                font-size: 110% !important;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0em 1em 0em 1em;

                li {
                    a {
                        color: var(--color-text) !important;
                        transition: 0.3s;
                        

                        &:hover {
                            all: initial;
                            transition: 0.3s;
                            opacity: 50%;
                        }
                    }
                }
            }
        }

        section {
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;
            justify-content: inherit;
            animation: fade-in .8s ease-in-out;

            article {
                background-color: color-mix(in srgb, var(--color-background) 90%, black);
                border: var(--thin-border);
                color: var(--color-text);
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 5vw;
                min-width: 10vw;
                width: 80%;
                max-width: 600px;
                margin: 1.2em;

                code{
                    background-color: var(--color-background);
                    border: var(--thin-border);
                    border-radius: 10px;
                    padding: .3em 1em .3em 1em;
                    font-size: 90%;
                    color: var(--color-secondary);
                }

                ul{
                    list-style: none;
                    li{
                        margin: 0.5em;
                        padding: 0.5em;
                        background-color: var(--color-background);
                        border: var(--thin-border);
                        border-radius: 10px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        font-size: 110%;
                        &::before{
                            content: "●";
                            display: inline-block;
                            scale: 1.5;
                            color: var(--color-primary);
                            margin-right: 1ch;
                        }
                    }
                }

                header {
                    border-bottom: color-mix(in srgb, var(--color-text) 40%, black) 1px solid;
                    padding-bottom: .3em;
                    margin-bottom: .6em;
                }

                hr {
                    border: none;
                    padding-bottom: .6em;
                    margin-bottom: .6em;
                    border-bottom: color-mix(in srgb, var(--color-text) 40%, black) 1px solid;
                    ;
                }

                card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin: 1.2em;
                    padding: 1.2em;
                    background: var(--color-background);
                    border: var(--thin-border);
                    border-radius: 10px;
                    color: color-mix(in srgb, var(--color-text) 80%, black);
                    background: var(--color-background-secondary);

                    &:hover {
                        filter: contrast(1.05);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        scale: 1.08;
                    }

                    img, iframe {
                        border: var(--thin-border);
                        pointer-events: none;
                        border-radius: 10px;
                        width: 15em;
                        margin-right: 1.5vw;
                    }

                    .col {
                        height: 100%;
                        width: 100%;
                        align-items: start;
                        margin-bottom: 10%;
                    }

                    &.stack{
                        img {
                            width: 4em;
                            padding: 2em;
                        }
                    }

                    &.blog {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .col {
                            margin-bottom: 0;
                            text-align: left;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            margin: 1vw;
                            width: 100%;
                            aspect-ratio: 16/9;
                        }
                    }
                }
            }
        }
    }
}

/* Custom */

[data-tooltip] {
    cursor: pointer;
    color: var(--color-secondary);
    text-decoration: underline;
    transition-duration: .2s;

    &:hover {
        opacity: 80%;
    }
}

#tooltip {
    position: absolute;
    background-color: var(--color-background);
    min-width: 40px;
    max-width: 300px;
    min-height: 40px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    color: var(--color-primary);
    border: var(--thin-border);
    border-radius: 10px;
    padding: 0em 1em 0em 1em;
    transition-duration: 0.08s;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.452);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.ping {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: -24px;
    margin-top: 1.53px;
    display: inline-block;
    animation: ping 1s infinite;
    background-color: var(--color-secondary);
    color: var(--color-secondary);
    border-radius: 100%;

    /* Add inner circle */
    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: var(--color-secondary);
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.profile {
    border: .5em solid color-mix(in srgb, var(--color-background) 70%, black);
    border-radius: 20px;
    height: 10em;
    margin: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes ping {
    0% {
        transform: scale(.8);
        background-color: var(--color-secondary);
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade_in_up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  p {
    animation: fade_in_up .4s ease forwards;
  }
  

/* Mobile */
@media (max-width: 900px) {
    html, body{
        max-width: 100vw;
        overflow-x: hidden;
        *{
            flex-direction: column !important;
        }
        nav{
            margin-bottom: 1em;
        }
        section{
            article{
                background-color: transparent !important;
                border: none !important;
                box-shadow: none !important;
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }
}